<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
</head>
<body>

<form action="builder_register_code" method="post">
    <table class="table tabel-striped table-hover" align="center" border="1">

         <tr>
            <th>Name</th>
            <th><input type="text" name="textfield2" required></th>
        </tr>

         <tr>
            <th>Place</th>
            <th><input type="text" name="textfield3" required></th>
        </tr>

         <tr>
            <th>Post</th>
            <th><input type="text" name="textfield4" required></th>
        </tr>

         <tr>
            <th>Pin</th>
            <th><input type="text" name="textfield5" required></th>
        </tr>

         <tr>
            <th>Email</th>
            <th><input type="text" name="textfield6" required></th>
        </tr>

         <tr>
            <th>Phone</th>
            <th><input type="text" name="textfield7" required></th>
        </tr>


         <tr>
            <th>Latitude</th>
            <th><input type="text" name="lati" required></th>
        </tr>

         <tr>
            <th>Longitude</th>
            <th><input type="text" name="longi" required></th>
        </tr>


        <tr>
            <th>Username</th>
            <th><input type="text" name="textfield8" required></th>
        </tr>

        <tr>
            <th>Password</th>
            <th><input type="text" name="textfield9" required></th>
        </tr>

         <tr>
            <th colspan="2"><input type="submit" value="Submit"></th>
        </tr>

    </table>
</form>

</body>
</html>